#aboutTopBar{
    margin-bottom: 10vw;
}

.aboutInfoCard{
    width: 60vw;
    background-color: #F0EBD6;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    box-shadow: 0 0 10px #F0EBD6;
}