
.navBar{
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 10vw;
    overflow: hidden;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.navBar ul{
    padding: 0;
    margin: 5%;
    display: grid;
    justify-content: center;
}