
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    margin-right: 5vw;
    margin-left: 1vw;
    margin-bottom: 0;
}

.titleFont{
    font-family: Tahoma;
}

.topBar{
    background-color: #F0EBD6;
    box-shadow: 0px 0px 50px 60px #F0EBD6;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.menuBackground{
    background-image: url('/src/assets/images/foodBackground.png');
    background-size: cover;
}
.aboutBackground{
    background-image: url(/src/assets/images/aboutBackground.jpg);
    background-size: cover;
}

.centeredGridBox{
    display: grid;
    justify-items: center;
}

.smallWidthBox{
    width: 80vw;
    display: flex;
    align-items: center;
}

footer {
    text-align: left;
    background-color: #f1f1f1;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    font-family: 'Courier New';
    font-size: 10px;
    font-weight: lighter;
    word-spacing: .1px;
}